//= ../../bower_components/normalize-css/normalize.css

body {
  font-family: tahoma, sans-serif;
}

h1 {
  color: red;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  margin: 10px auto;
  text-align: center;
  width: 320px;
}

.author {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;

  ._a_link {
    color: #2B587A;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@import "form";
@import "printer";
@import "helper";