//= ../../bower_components/normalize-css/normalize.css
@import "form";

body {
  font-family: tahoma, sans-serif;
}

h1 {
  color: red;
}

.page {
  margin: 10px auto;
  text-align: center;
  width: 200px;
}