.printer_ {
  background: #fff;
  display: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  ._table {
    background: rgba(255, 255, 255, .6);
    border-collapse: collapse;

    td, th {
      border: 1px solid black;
      padding: 3px;
    }
  }

  ._right {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;

    table {
      width: 100%;
    }
  }

  ._left {
    position: relative;
    margin-right: 220px;
  }

  ._wrapper {
    padding: 10px 0;
  }
  ._wrapper a {
    color: #2B587A;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}